<div class="container text">
    <div class="titulos">Tips y recomendaciones de manejo</div>
    <p> Andar en motocicleta es una actividad muy singular, te brinda una sensacion de libertad
        que dificilmente otro vehículo te hara sentir.
        Sin embargo es una actividad que por si misma resulta peligrosa.
        Como para que pongas aún más en riesgo tu vida con algunas malas prácticas. A continuación te
        brindaremos algunos consejos:
    </p>
    <div class="row titulos">
        Equipo
    </div>
    <p> A diferencia de un automóvil la moto no tiene margen de error, ya que no cuenta con bolsas de aire
        cinturones de seguridad, entre otros. Por lo cual el usar siempre el equipo correcto es un factor que puede resultar 
        determinante.
    </p>
    <ul>
        <li>Usar siempre casco, de la mejor calidad posible (el integral, al ser de una sola pieza, brinda mayor protección)</li>
        <li>Calzado apto (Una bota siempre te dara mayor soporte y protección)</li>
        <li>Usar guantes preferentemente con protecciones en falanges y nudillos</li>
        <li>Chamarra guresa (con protecciones ayuda aun más) en caso de caida rasparas tu chamarra y no tu piel</li>
        <li>Rodilleras o pantalones con protecciones</li>
    </ul>

    <div class="row titulos">
        Conducción
    </div>
    <p> Andar en motocicleta es una actividad muy singular, te brinda una sensacion de libertad
        que dificilmente otro vehículo te hara sentir.
        Sin embargo es una actividad que por si mismo es bastante riesgosa.
        Como para que pongas aun mas en riesgo tu vida con algunas malas practicas. A continuación te
        brindaremos algunos consejos:
    </p>
    <div class="row titulos">
            Motocicleta
        </div>
        <p> Las condiciones de tu motocicleta siempre seran cruciales, para tu seguridad ya que si la traes al punto, te garantizara, mayor
            confianza y seguridad en tu conducción. Los principales punto a considerar son los siguientes.
        </p>
        <ul>
            <li>La presion de los neumáticos. (Recomendada 30-35 lbs, varía de acuerto a tu preferencia).</li>
            <li>Llantas de calidad, invertir en llantas siempre sera una excelente opción, una buena llanta siempre birnda mas control y estabilidad.</li>
            <li>Luces, tanto delanteras como traseras, no solo te ayudan a ver también te hacen visible ante otros conductores.</li>
            <li>Frenos, es mas que obvio, esto puede ser la diferencia entre la vida y la muerte.</li>
            <li>Palancas de freno y clutch, sin duda siempre sera mejor conducir con una palanca en buen estado, que con una palanca rota o torcida.</li>
            <li>Posapies y palanca de cambios, el caso es el mismo que en el punto anterior.</li>
            <li>Defensas o sliders, sin duda esto es cuestion de gustos sin embargo protegen tu moto y a tí, ya que esto impide que la moto caiga 
                por completo pudiendo asi evitar que te caiga encima.
            </li>
        </ul>
    <img class="img-tips" src="../../../assets/Unknown-1.jpg">
    <div class="row">
        Cabe mencionar que no somos pilotos profesionales, por lo cual
        Caballeros Lycaon Mc, no se hace responsable por accidentes o lesiones que puedan resultar de llevar a
        cabo las sugerencias aqui mencionadas.
    </div>
</div>