<div class="container text">
    <div class="titulos">Tips y recomendaciones de manejo</div>
    <p> Andar en motocicleta es una actividad muy singular, te brinda una sensacion de libertad
        que dificilmente otro vehículo te hara sentir.
        Sin embargo es una actividad que por si misma resulta peligrosa.
        Como para que pongas aún más en riesgo tu vida con algunas malas prácticas. A continuación te
        brindaremos algunos consejos:
    </p>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img class="img-fluid" src="../../../assets/accidente.png"/>
        </div>
    </div>
    <div class="titulos">
        Equipo
    </div>
    <p> A diferencia de un automóvil la moto no tiene margen de error, ya que no cuenta con bolsas de aire
        cinturones de seguridad, entre otros. Por lo cual el usar siempre el equipo correcto es un factor que puede resultar 
        determinante.
    </p>
    <ul>
        <li>Usar siempre casco, de la mejor calidad posible (el integral, al ser de una sola pieza, brinda mayor protección)</li>
        <li>Calzado apto (Una bota siempre te dara mayor soporte y protección)</li>
        <li>Usar guantes preferentemente con protecciones en falanges y nudillos</li>
        <li>Chamarra guresa (con protecciones ayuda aun más) en caso de caida rasparas tu chamarra y no tu piel</li>
        <li>Rodilleras o pantalones con protecciones</li>
    </ul>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img class="img-fluid" src="../../../assets/equipo.png"/>
        </div>
    </div>
    <div class="titulos">
        Conducción
    </div>
    <p> Andar en motocicleta es una actividad muy singular, te brinda una sensacion de libertad
        que dificilmente otro vehículo te hara sentir.
        Sin embargo es una actividad que por si mismo es bastante riesgosa.
        Como para que pongas aun mas en riesgo tu vida con algunas malas practicas. A continuación te
        brindaremos algunos consejos:
    </p>
    <ul>
            <li>Siempre ir alerta, enfocado en el camino y sus posibles obstaculos.</li>
            <li>Se recomienda siempre llevar los dedos en ambos gatillos (freno y clutch) para tener una mayor velocidad de reacción.</li>
            <li>De igual forma que el punto anterior llevar el pie que activa el freno trasero listo para presionarlo.</li>
            <li>Mientas más se conduce una moto mas pericia y destreza se adquiere, es por eso que se recomienda no hacer nada de lo que aún no te sientas, seguro o capaz.</li>
            <li>Conducir siempre a una velocidad prudente de acuerdo a la via por la que circulamos. El ir muy despacio en una vía rápida puede resultar contraproducente</li>
            <li>Ir espejando durante nuestro recorrido y sobre todo antes de hacer cualquier maniobra que involucre cambiar nuestra posición.</li>
            <li>Mantener la distancia adecuada con otros vehículos, motocilistas, ciclistas, etc.</li>
            <li>El freno delantero siempre sera el que ayude más a detener la motocicleta, sin embargo si lo presionamos con mucha fuerza podemos bloquear nuestra llanta y derrapar.</li>
            <li>Por eso se recomienda familiarizarte con los frenos de tu vehículo, asi como frenar bombeando ambos frenos (esto dara un efecto parecdio al ABS).</li>
            <li>Con lluvia se recomienda siempre una condución más relajada (esto también dependerá mucho de tus neumáticos).</li>
            <li>En curvas, debes mirar siempre al final de la curva, finamlemte la moto ira a donde ven tus ojos.</li>
            <li>Para un mayor control en curva, siempre debes llevar tracción, es decir continuar acelerando aunque sea mínimo.</li>
            <li>En pendientes se recomienda siempre ir frenando con motor, para un mayor conrol de la motocileta.</li>
            <li>Evita ir justo atras de un vehiculo, de preferencia colocate a la altura de uno de los neumaticos de esta manera si centra un hoyo o bache
                no caeras en el o bien, si este frena espontaneamente podrás maniobrar mas facilemte evitando asi estrellarte en él.</li>
            <li>Tener toda la documentación en orden, te sera más fácil salir bien librado si te detiene un policia o en caso de un siniestro.</li>
    </ul>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img class="img-fluid" src="../../../assets/motoTips.png"/>
        </div>
    </div>
    <div class="titulos">
            Motocicleta
        </div>
        <p> Las condiciones de tu motocicleta siempre seran cruciales, para tu seguridad ya que si la traes al punto, te garantizara, mayor
            confianza y seguridad en tu conducción. Los principales punto a considerar son los siguientes.
        </p>
        <ul>
            <li>La presion de los neumáticos. (Recomendada 30-35 lbs, varía de acuerto a tu preferencia).</li>
            <li>Llantas de calidad, invertir en llantas siempre sera una excelente opción, una buena llanta siempre birnda mas control y estabilidad.</li>
            <li>Luces, tanto delanteras como traseras, no solo te ayudan a ver también te hacen visible ante otros conductores.</li>
            <li>Frenos, es mas que obvio, esto puede ser la diferencia entre la vida y la muerte.</li>
            <li>Palancas de freno y clutch, sin duda siempre sera mejor conducir con una palanca en buen estado, que con una palanca rota o torcida.</li>
            <li>Posapies y palanca de cambios, el caso es el mismo que en el punto anterior.</li>
            <li>Defensas o sliders, sin duda esto es cuestion de gustos sin embargo protegen tu moto y a tí, ya que esto impide que la moto caiga 
                por completo pudiendo asi evitar que te caiga encima.
            </li>
        </ul>
        <div class="titulos red-text">
            Recuerda montar una motocicleta es cosa seria, las motos no son juguetes, maneja siempre con precaución!
        </div>
    <img class="img-tips" src="../../../assets/Unknown-1.jpg">
    <div class="deslinda">
        Cabe mencionar que no somos pilotos profesionales, por lo cual
        Caballeros Lycaon Mc, no se hace responsable por accidentes o lesiones que puedan resultar de llevar a
        cabo las sugerencias aqui mencionadas.
    </div>
</div>