<footer class="footer mt-auto py-3 color-dark">
    <div class="container text">
        
            <div class="d-flex justify-content-around">
            <div class="div-smallText"><p class="small-text">© 2019 Caballeros Lycaon Mc<br>
                    Sitio hecho por Iván Juárez</p></div>
            <div><a class="redSocial" href="https://instagram.com/caballeroslycaonmc?igshid=146tl6ph897nt" target="_blank"><h6>caballeroslycaonmc <i class="fa fa-instagram" style="font-size:36px;"></i> </h6></a></div>
            <div><a class="redSocial" href="https://www.facebook.com/caballeroslycaonMC/" target="_blank"><h6>caballeroslycaonMc <i class="fa fa-facebook-square" style="font-size:36px;"></i> </h6></a></div>
        </div>
        
    </div>
</footer>