<div id="focus-container" class="container-estilo">
        <div class="left-side "></div>
         <div class="right-side"></div>
         <div class="hover">
           <div class="tri-1">
             <div class="bit-top"></div>
             <div class="bit-top-left"></div>
           </div>
           <div class="tri-2">
             <div class="bit-top-right"></div>
             <div class="bit-top-right-2"></div>
           </div>
           
           <div class="tri-3">
             <div class="bit-bottom-left"></div>
             <div class="bit-bottom-left-2"></div>
           </div>
           
           <div class="tri-4">
             <div class="bit-bottom-right"></div>
             <div class="bit-bottom-right-2"></div>
           </div>
           
         </div>
         <p class="blur">Caballeros Lycaon Mc</p>
         <p class="focus">Caballeros Lycaon Mc</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 letraStyle ">
            <p class="text-left"><b class="titulos">Ubicación: </b>
                Ciudad de México
            </p>
            <p class="text-left">
              <b class="titulos">Lema del Motoclub:</b>
                El lobo fortalece a la manada y la manada fortalece al lobo
                La manada es un conjunto de individuos unidos en favor de la protección de cada uno de ellos.
            </p>
            <p class="text-left">          
                <b class="titulos">Descripción:</b>
                Fundado el 8 de julio de 2018 Caballeros Lycaon MC fue formado con pasión por el motociclismo, 
                compartiendo un estilo de vida y disfrutando de buena compañía, satisfacciones y vivencias que nos da el rodar 
                con nuestros familiares, amigos y el manejar nuestras motocicletas.
            </p>
            <p class="text-left">          
                <b class="titulos">Cultura:</b>
                Cablleros Lycaon Mc, es un moto club 100% familiar, enfocados en la solidaridad, trabajo en equipo
                y la buena compañia, salimos a rodar y convivimos con nuestras esposas, amigos y familiares. Nuestra priodiad en 
                las rodadas es la seguridad del grupo.
            </p>
        </div>
        <div class="col-xs-12 col-sm-3">
            <img class="back-image" src="../../../assets/cablleros.jpg">
        </div>
  </div>
</div>     