
<div id="member.uid"> 
        <a [routerLink]="['/profile',miembro.uid]">
        <i class="fa fa-address-card-o yellow-text" style="font-size:20px;"></i>
        </a>
        <label class="label-member">{{miembro.nombre}}</label>
        <label class="label-member">{{miembro.aPat}}</label>
        <label class="label-member">{{miembro.aMat}}</label>
        <label class="label-member">{{miembro.email}}</label>
        <label class="label-member">{{miembro.celular}}</label>
        <label class="label-member"><b>"{{miembro.nickName}}"</b></label>
        
        <i class="fa fa-trash red-text" (click)="eliminarUsuer(miembro)" style="font-size:18px;"></i>
    
</div>