.btn-plus{
    border-radius: 50%;
}
.red-button{
    color: aliceblue;
    background-color: #ff4444;
}
.red-text{
    color: #ff4444 !important;
    padding: 5px;
}
.yellow-text{
    color: #fff59d;
    padding: 5px;
}
.label-member{
    padding: 2px;
}
.color-dark{
background-color: #45526e;
}
.text-modal{
color: black;
background-color: #e0e0e0;
}
.text-modal .danger-color{
color: #ff4444 !important;
}