.btn-plus{
    border-radius: 50%;
}
.red-button{
    color: aliceblue;
    background-color: #ff4444;
}
.red-text{
    color: #ff4444 !important;
    padding: 5px;
}
.yellow-text{
    color: #fff59d;
    padding: 5px;
}
.label-member{
    padding: 2px;
}
@media only screen and (max-width: 991px){

.mobile{
    display: none;
}

}