<div class="container">
    <p>Caballeros LYCAON MC
            Estado: Ciudad de México
            Descripción corta del Motoclub:
            El lobo hace a la manada y la manada hace al lobo
            
            La manada es un conjunto de individuos unidos en favor de la protección de cada uno de ellos.
            Descripción larga del Motoclub:
            Fundado el 8 de julio de 2018 Caballeros Lycaon MC fue formado con pasión por el motociclismo, 
            compartiendo un estilo de vida y disfrutando de buena compañía, satisfacciones y vivencias que nos da el rodar 
            con nuestros familiares, amigos y el manejar nuestras motocicletas.
    </p>
</div>
