<div class="container white-text">
    <div *ngIf="perfil" class="content">



        <div class="card fondo-card">
            <div class="card-header">
                <h5>
                    <a routerLink="/miembros" class="white-text">                         
                        <i class="fa fa-arrow-left yellow-text" style="font-size:20px;"></i>
                    </a>
                    {{perfil.nickName}} </h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{perfil.nombre}} {{perfil.aPat}} {{perfil.aMat}}</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-text">
                                <div class="d-flex justify-content-center">
                                <img *ngIf="perfil.urlImage" class="profile-style" [src]="perfil.urlImage"/>
                                <img *ngIf="!perfil.urlImage" class="profile-style" src="../../../assets/perfil.png"/>
                                </div>
                            <i class="fa fa-phone yellow-text" style="font-size:20px;"></i>
                            {{perfil.celular}}
                        </div>
                        <div class="card-text">
                            <p class="card-text">
                                <i class="fa fa-birthday-cake yellow-text" style="font-size:20px;"></i>
                                {{perfil.birthday}}, {{edad}}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-text">

                            <p class="card-text">
                                <i class="fa fa-motorcycle yellow-text" style="font-size:20px;"></i>
                                Vehículo.
                            </p>
                            <ul *ngFor="let motoArray of perfil.motos; let i = index">
                                <li>{{motoArray.marca}} {{motoArray.modelo}} {{motoArray.cc}} cc</li>
                                <li>{{motoArray.modelo}}</li>
                                <li>Placa: {{motoArray.placa}}</li>
                                <li>SN: {{motoArray.serie}}</li>
                                <li>Seguro: {{motoArray.ciaSeguro}}</li>
                                <li>Tel Seguro: {{motoArray.telSeguro}}</li>
                                <li>Poliza: {{motoArray.poliza}}</li>
                            </ul>
                        </div>

                        <div class="card-text">
                            <p>
                                <i class="fa fa-heartbeat yellow-text" style="font-size:20px;"></i>
                                Alergias y Salud
                            </p>
                            <ul *ngIf="perfil.salud">
                                <li>{{perfil.salud.tipoSangre}}</li>
                                <li *ngFor="let alergia of perfil.salud.alergias; let i = index">
                                    {{alergia}}
                                </li>


                            </ul>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="card-text">
                            <p>
                                <i class="fa fa-warning yellow-text" style="font-size:20px;"></i>
                                Info emergencia.
                            </p>

                            <ul class="aling" *ngFor="let contacto of perfil.contactos; let i = index">
                                
                                <i class="fa fa-user-circle-o yellow-text" style="font-size:20px;"></i>
                                {{contacto.nomContacto}}, {{contacto.parentesco}}
                                <br>
                               
                                <i class="fa fa-phone yellow-text" style="font-size:20px;"></i>
                                {{contacto.telContacto}}
                                
                            </ul>
                        </div>
                    </div>


                </div>



            </div>
        </div>

    </div>
</div>