<div class="container white-text">
    <div *ngIf="perfil" class="content">

        <div class="card fondo-card">
            <div class="card-header">
                <h5> {{perfil.nickName}} <span class="cargo">Presidente</span></h5>
            </div>
            <div class="card-body">
                <h5 class="card-title"> {{perfil.nombre}} {{perfil.aPat}} {{perfil.aMat}}</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-text">
                            <p>
                                <img class="profile-style" src="../../../assets/perfil.jpg" />
                            </p>
                            <i class="fa fa-phone yellow-text" style="font-size:20px;"></i>
                            {{perfil.celular}}
                        </div>
                        <div class="card-text">
                            <p class="card-text">
                                <i class="fa fa-birthday-cake yellow-text" style="font-size:20px;"></i>
                                21-02-1988 31 años.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-text">

                            <p class="card-text">
                                <i class="fa fa-motorcycle yellow-text" style="font-size:20px;"></i>
                                Vehículo.
                            </p>
                            <ul>
                                <li>Benelli tnt 25</li>
                                <li>2017</li>
                                <li>Placa: 7U5BH</li>
                                <li>SN: LKADSFJ984URAKLDJSF</li>
                                <li>Seguro: Qualitas</li>
                                <li>Tel Seguro: 578909764</li>
                                <li>Poliza: J984LDJS32F</li>
                            </ul>
                        </div>
                        <!-- allergies
                                    plus
                                    pen
                                    heartbeat
                                    warning
                                    tint -->
                        <div class="card-text">
                            <p>
                                <i class="fa fa-heartbeat yellow-text" style="font-size:20px;"></i>
                                Alergias y Salud
                            </p>
                            <ul>
                                <li>Sulfas</li>
                                <li>O+</li>
                                <li>NO Hipertenso</li>
                                <li>NO Diabetico</li>
                            </ul>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="card-text">
                            <p>
                                <i class="fa fa-warning yellow-text" style="font-size:20px;"></i>
                                Info emergencia.
                            </p>

                            <ul>
                                <li>
                                        <i class="fa fa-phone yellow-text" style="font-size:20px;"></i>
                                        Beatriz 134958240
                                </li>
                                <li>
                                        <i class="fa fa-phone yellow-text" style="font-size:20px;"></i>
                                        Javier 134958240
                                </li>
                                
                            </ul>
                        </div>
                    </div>


                </div>



            </div>
        </div>

    </div>
</div>