.white-text{
    color: aliceblue;
}
.red-button{
    color: aliceblue;
    background-color: #ff4444;
}
.fondo-card{
    background-color: #616161;
    margin-top: 2%;
}
.cargo{
    font-size: .7em;
}
.profile-style{
    padding-bottom: 15px;
    width: 85%;
    border-radius: 50%;
}
.aling{
    padding-inline-start: 5px !important;
}