.text{
    color: aliceblue;
}
.red-button{
    color: aliceblue;
    background-color: #ff4444;
}
.circle{
    border-radius: 50%;
}
.btn-agregar{
    margin-top: 2rem;
}
.fill-width{
    width: 100%;
}
.container{
    margin-top: 2%;
}
.card{
    background-color: transparent;
    border-style: solid;
}
.card-header{
    background-color: #616161;
    width: 78vw;
}
.btn-link-perfil{
    color: aliceblue;
}
.fa-times-circle, .red-hover:hover{
    color:  #ff4444;
}
.upper{
    text-transform: uppercase;
}
.input-group-prepend{
    width: inherit;
}
.mayus{
    text-transform: uppercase;
}
.capital{
    text-transform: capitalize;
}
.titulos{
    background-color: #616161;
    padding: 1%;
}
.edit-btn{
    margin-top: 3%;
}
.hard-code{
    font-size: smaller;
    color: #d0d6e2;
    margin-bottom: 0px !important;
}
.dynamic{
    font-size: larger;
}
.fa-warning{
    color: #ffbb33;
    padding-left: 4px;
}
.fa-heartbeat{
    color: #ff3d00;
    padding-left: 4px;
}  
.fa-motorcycle{
    color: black;
    padding-left: 4px;
}
.fa-address-card-o{
    color: #bbdefb;
    padding-left: 4px;
}
.profile{
    width: 57%;
    position: absolute;
    border-radius: 50%;
    transition: transform .2s;
}
.profile:hover{
    transform: scale(1.5); 
}
.profile-edit{
    width: 80%;
    border-radius: 50%;
}
.row{
    margin-left: 0px;
}
.abs{
    position: absolute;
    margin-top: 15px;
}
.form-edition{
    padding-bottom: 15px;
}
.profile-edit-mobile, .image-mobile{
    display: none;
 }

@media only screen and (max-width: 991px){

    .profile-edit-mobile, .image-mobile{
        display: none;
     }
    
    .edit-btn{
        margin-top: -5px;
        margin-bottom: 10px;
    }
    .card-header{
        width: 82vw;
    }  
}
@media only screen and (max-width: 767px){

    .profile-edit{
       display: none;
    }
    .profile-edit-mobile, .image-mobile{
        width: 100%;
        border-radius: 50%;
        display: block;
        padding-bottom: 3px;
        padding-top: 3px;
     }
    
}
@media only screen and (max-width: 660px){
   
}