<div class="container">


  <div *ngIf="editar" class="form-edition text">
    <form class="form-inline" #f="ngForm" (ngSubmit)="f.form.valid">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">Nombre(s):</label>
          </div>
          <input type="text" class="form-control mb-2 fill-width" id="nombre" name="nombre" placeholder="Nombre"
            [(ngModel)]="perfil.nombre">
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">A Paterno:</label>
          </div>
          <input type="text" class="form-control mb-2 fill-width" id="aPat" name="aPat" placeholder="A Paterno"
            [(ngModel)]="perfil.aPat">
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">A Materno:</label>
          </div>
          <input type="text" class="form-control mb-2 fill-width" id="aMat" name="aMat" placeholder="A Materno"
            [(ngModel)]="perfil.aMat">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="correo">Correo:</label>
            <!-- <label *ngIf="errMsj" for="errMsj" class="label-login">{{ errMsj }}</label> -->
          </div>

          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" class="form-control" id="email" name="email" placeholder="Correo"
              [(ngModel)]="perfil.email">
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">Apodo:</label>
          </div>
          <input type="text" class="form-control mb-2 fill-width" id="nickName" name="nickName" placeholder="Apodo"
            [(ngModel)]="perfil.nickName">
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">Cel:</label>
          </div>
          <input type="phone" class="form-control mb-2 fill-width" id="celPhone" name="celPhone" placeholder="Cel"
            [(ngModel)]="perfil.celular">
        </div>
      </div>

      <!-- Salud y alergias -->
    </form>
    <p>Datos relacionados a la Salud</p>
    <form #f="ngForm" (ngSubmit)="addAlergia(f)">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">Tipo de sangre:</label>
          </div>
          <input type="text" class="form-control mb-2 fill-width" id="bloodType" name="bloodType"
            placeholder="Grupo Sanguineo" [(ngModel)]="bloodType">
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">Alergía ó enfermedad:</label>
          </div>
          <input type="text" class="form-control mb-2 fill-width" id="newAllergy" name="newAllergy"
            placeholder="Padecimiento" [(ngModel)]="newAllergy">
        </div>
        <div class="form-group btn-agregar">
          <button type="submit" class="btn red-button form-control" data-toggle="modal" data-target="#loaderModal">
            <i class="fa fa-plus red-text" style="font-size:18px;"></i></button>
        </div>
        <div class="col-sm-12 col-md-4">
        <!-- <div class="col"> -->
            <ul *ngFor="let alergia of saludEdit; let indice = index">
              <li>
                {{alergia}} 
                <i class="fa fa-times-circle red-text" 
                   style="font-size:18px;" (click)="delElement(indice)"></i>
              </li>
            </ul>
          </div>
      </div>
    </form>
    <!-- Contactos de emergencia -->
  
  <p>Contactos de emergencia</p>
  <form #f="ngForm" (ngSubmit)="addAlergia(f)">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label class="label-text control-label" for="nombre">Nombre:</label>
        </div>
        <input type="text" class="form-control mb-2 fill-width" id="nameContact" name="nameContact"
          placeholder="Grupo Sanguineo" [(ngModel)]="nameContact">
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="form-group">
          <label class="label-text control-label" for="nombre">Parentesco:</label>
        </div>
        <input type="text" class="form-control mb-2 fill-width" id="parentesco" name="parentesco"
          placeholder="Parentesco" [(ngModel)]="parentesco">
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="form-group">
            <label class="label-text control-label" for="nombre">Número:</label>
          </div>
          <input type="text" class="form-control mb-2 fill-width" id="telContact" name="telContact"
            placeholder="Teléfono" [(ngModel)]="telContact">
        </div>
      <div class="form-group btn-agregar">
        <button type="submit" class="btn red-button form-control" data-toggle="modal" data-target="#loaderModal">
          <i class="fa fa-plus red-text" style="font-size:18px;"></i></button>
      </div>
      <div class="col-sm-12 col-md-4">
      <!-- <div class="col"> -->
          <ul *ngFor="let alergia of saludEdit; let indice = index">
            <li>
              {{alergia}} 
              <i class="fa fa-times-circle red-text" 
                 style="font-size:18px;" (click)="delElement(indice)"></i>
            </li>
          </ul>
        </div>
    </div>
  </form>
    
  </div>
</div>