<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}¡ :)
  </h1>
  
  <app-persona (res)="sumaEjecucion($event)">  </app-persona>
  <h3>Resultado: {{ result }}</h3>
  <app-formulario (personaCreada)="onPersonaAgregada($event)"></app-formulario>
  <app-persona-form *ngFor="let personaElmt of personas; let i = index"
                  [persona]="personaElmt"
                  [indice]="i"></app-persona-form>

</div>
<router-outlet></router-outlet>
