<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}¡ :)
  </h1>
  
 <app-persona></app-persona>
<div class="container">  
  <form class="form-row">
    <div class="form-group col-md-2">
      <label for="nombre" class="sr-only">Nombre</label>
      <input type="text" name="nombre" id="nombre" 
      placeholder="Nombre" class="form-control" [(ngModel)]="nombreInput">
    </div>
    <div class="form-group col-md-2">
      <label for="apellido" class="sr-only">Apellido</label>
      <input type="text" name="apellido" id="apellido" 
      placeholder="apellido" class="form-control" [(ngModel)]="apellidoInput">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" (click)="onAddPersona()">Guardar</button>
    </div>
  </form>
  <div class="col-xs-12" *ngFor="let persona of personas; let indice = index">
    {{indice+1}}: {{persona.nombre}} {{persona.apellido}}
  </div>
</div>
<router-outlet></router-outlet>
