.color-dark{
    background-color: #1C2331;
}
.text{
    color: #FFF !important;
}
.danger-color{
    color: #ff4444 !important;
}
.danger-color:hover{
    background-color: #4B515D;
}
.red-button{
    background-color: #ff4444;
}
.navBarLogin{
    color: #ff4444 !important;
}
.navBarLogin:hover{
    text-decoration: none;
}
.fa-external-link{
    padding-left: 5px;
}
.dropdown-menu{
    margin: 0.125rem -7rem 0;
}
.cursor{
    cursor: pointer;
}
.in-sesion:hover{
    background-color: #4B515D;
}
.in-sesion{
    padding: 7px 5px 7px 5px;
}
.web{
    display: block;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 991px){

 .nav-item a{
    padding-left: 5px;
}
.in-sesion{
    padding: 7px 0px 5px 0px;
}
.web{
    display: none;
}
.mobile{
    display: block;
}

}