.color-dark{
    background-color: #1C2331;
}
.text{
    color: #FFF !important;
}
.danger-color{
    color: #ff4444 !important;
}
.danger-color:hover{
    background-color: #4B515D;
}
.red-button{
    background-color: #ff4444;
}
.navBarLogin{
    color: #ff4444 !important;
}
.navBarLogin:hover{
    text-decoration: none;
}
.fa-external-link{
    padding-left: 5px;
}
.dropdown-menu{
    margin: 0.125rem -7rem 0;
}