<nav class="navbar navbar-expand-lg navbar-light color-dark">
    <a class="navbar-brand text" routerLink="/">CALYMCA</a>
    <button class="navbar-toggler red-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link danger-color" routerLink="galeria">Galeria <span class="sr-only ">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link danger-color" routerLink="descripcion">Descripción</a>
        </li>
        <li class="nav-item">
          <a class="nav-link danger-color" href="#" >
            Significado
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a id="login" routerLink="login">Iniciar Sesión</a>
            </li>
      </ul>
      
      <!-- <form class="form-inline my-2 my-lg-0">
        
      </form> -->
    </div>
  </nav>