<div class="d-flex justify-content-center">
    <div class="" id="loginComponent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <form class="form" #f="ngForm" (ngSubmit)="f.form.valid && loginSystem(f)">
            <div class="d-flex justify-content-center">
              <h4 class="text">Ingresar</h4>
            </div>
            <div class="col-centrada">
              <label for="correo" class="label-login">Correo</label>
              <input type="email" name="email" id="email" ngModel
              (input)="modifyInput()" autocomplete="on"
              placeholder="@Email" class="form-control dark-input" required>
            </div>
            <div class="col-centrada">
              <label for="password" class=" label-login">Password</label>
              <input type="password" name="password" id="password" ngModel
              (input)="modifyInput()"
              placeholder="Password" class="form-control dark-input" required>
              <label *ngIf="msj" for="msj" class="danger-color label-login">{{msj}}</label>
            </div>
            <div class="d-flex justify-content-center">
                
              <button type="submit" class="btn btn-ok"
              data-toggle="modal" data-target="#loaderModal">Acceder</button>
            </div>
          </form>
    </div>
</div>
<!-- <div class="modal fade" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-modal">
        <div class="modal-header color-dark">
          <h5 class="modal-title danger-color" id="loaderModalLabel">Mensaje enviado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <app-loader></app-loader>
      </div>
    </div>
  </div> -->