.text-style{
    color: aliceblue;
}
.row{
    width: 100%;
}
.fill-width{
    width: 100%;
}
.btn-plus{
    border-radius: 50%;
}
.red-button{
    color: aliceblue;
    background-color: #ff4444;
}
.miembros{
    margin-top: 2%;
}
.admin-check{
    padding-left: 10px !important;
}