.text-style{
    color: aliceblue;
}
.row{
    width: 100%;
}
.fill-width{
    width: 100%;
}
.btn-plus{
    border-radius: 50%;
}
.red-button{
    color: aliceblue;
    background-color: #ff4444;
}
.miembros{
    margin-top: 2%;
}
.admin-check{
    padding-left: 10px !important;
}
.color-dark{
    background-color: #45526e;
}
.text-modal{
    color: black;
    background-color: #e0e0e0;
}
.text-modal .danger-color{
    color: #ff4444 !important;
}
.red-text{
    color: #ff4444 !important;
    padding: 5px;
    margin-top: 6px;
}
@media only screen and (max-width: 991px){

.mobile-icon{
    margin-left: 70%;
}

}