<div class="container miembros text-style">
    
    <h5 class="text">Miembros</h5>
    <div class="row" *ngFor="let member of miembros; let i = index">
      
      <app-biker [miembro]="member"> </app-biker>
     
          <i *ngIf="perfil && perfil.admin" class="fa fa-trash red-text mobile-icon" (click)="eliminarUsuer(member.uid, member.nickName)" style="font-size:18px;"
          data-toggle="modal" data-target="#delUserModal"></i>
      
              
    </div>
    <div class="row">
      <div class="col-sm-12">
          <p *ngIf="perfil && perfil.admin">Crear Biker
              <button class="btn btn-plus red-button" type="button" data-toggle="collapse" 
                      data-target="#formAddBiker" aria-expanded="false" 
                      aria-controls="formAddBiker">
                      <i class="fa fa fa-plus" style="font-size:18;"></i>
              </button>
            </p>
      </div>
       
    </div>
 
        <div class="collapse multi-collapse" id="formAddBiker">
          
              <h4 class="text">Ingresar</h4>
              <form class="form-inline" #f="ngForm" (ngSubmit)="f.form.valid && addUser(f)">
                <div class="row">
                  <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                      <label class="label-text control-label" for="nombre">Nombre(s):</label>
                    </div>
                    <input type="text" class="form-control mb-2 fill-width" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="nombre">
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                      <label class="label-text control-label" for="nombre">A Paterno:</label>
                    </div>
                    <input type="text" class="form-control mb-2 fill-width" id="aPat" name="aPat" placeholder="A Paterno" [(ngModel)]="aPat">
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                      <label class="label-text control-label" for="nombre">A Materno:</label>
                    </div>
                    <input type="text" class="form-control mb-2 fill-width" id="aMat" name="aMat" placeholder="A Materno" [(ngModel)]="aMat">
                  </div>
            
            
            
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                      <label class="label-text control-label" for="correo">Correo:</label>
                      <label *ngIf="errMsj" for="errMsj" class="label-login">{{ errMsj }}</label>
                    </div>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <div class="input-group-text">@</div>
                      </div>
                      <input type="text" class="form-control" id="email" name="email" placeholder="Correo" [(ngModel)]="email">
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                      <label class="label-text control-label" for="nombre">Apodo:</label>
                    </div>
                    <input type="text" class="form-control mb-2 fill-width" id="nickName" name="nickName" placeholder="Apodo" [(ngModel)]="nickName">
                  </div>
                  <div class="col-sm-12 col-md-4">
                    <div class="form-group">
                      <label class="label-text control-label" for="nombre">Cel:</label>
                    </div>
                    <input type="phone" class="form-control mb-2 fill-width" id="celPhone" name="celPhone" placeholder="Cel" [(ngModel)]="celular">
                  </div>
                  <div class="col-sm-12 col-md-4">
                  
                  </div>
                
                </div>
                
                  <div class="col-md-offset-8">
                      <div class="form-group d-flex justify-content-end">
                        <button type="submit" class="btn red-button" data-toggle="modal" data-target="#loaderModal">Agregar</button>
                        
                            <div class="form-group admin-check">
                                <input type="checkbox" class="form-check-input" 
                                id="admin" name="admin" [(ngModel)]="admin">
                                <label class="form-check-label" for="adminCheck">Admin</label>
                              </div>
                        
                       </div>

                  </div>
                
              </form>
            
          
        </div>
     
  

</div>
<div *ngIf="nickAux" class="modal fade" id="delUserModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-modal">
      <div class="modal-header color-dark">
        <h5 class="modal-title danger-color" id="contactModalLabel">Mensaje enviado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Estas seguro de eliminar a {{nickAux}}?<br>
        
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn red-button" data-dismiss="modal" (click)="delBiker()">Si</button>
      </div>
    </div>
  </div>
</div>