<div class="container">

  <div class="white-text">
    <h5 class="intinerario">Intinerario</h5>
    <div class="row">
      <div class="accordion" id="accordionExample">
        <div class="card" *ngFor="let plan of eventosArray; let indice = index">
          <div class="card-header " id="headingOne" data-toggle="collapse" [attr.data-target]="'#'+ plan.key"
            aria-expanded="false" aria-controls="collapseOne">
            <h2 class="mb-0">
              <button class="btn btn-link-perfil red-hover" type="button">
                <i *ngIf="plan.type == 'Rodada'" class="fa fa-road " style="font-size:28px;"></i>

                <i *ngIf="plan.type == 'Convivencia'" class="fa fa-smile-o " style="font-size:28px;"></i>
                <span class="red-hover"> {{plan.lugar}} </span>

              </button>
            </h2>
          </div>

          <div id="{{plan.key}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <div class="row">

                <div class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="label-text control-label hard-code" for="nombre">Destino:</label><br>
                    <span class="dynamic"> {{plan.lugar}} </span>
                  </div>

                </div>
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="label-text control-label hard-code" for="ciudad">Ciudad:</label><br>
                    <span class="dynamic"> {{plan.ciudad}} </span>
                  </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="label-text control-label hard-code" for="distancia">Distancia:</label><br>
                    <span class="dynamic"> {{plan.distancia}} </span> kms
                  </div>
                </div>

                <div class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="label-text control-label hard-code" for="presupuesto">Presupuesto:</label><br>
                    <i class="fa fa-dollar " style="font-size:20px;"></i> <span class="dynamic"> {{plan.presupuesto}} </span>aproximado
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">
                    <label class="label-text control-label hard-code" for="nombre">Fecha:</label><br>
                    <span class="dynamic"> {{plan.fecha}} </span>
                  </div>
                </div>
                <div *ngIf="plan.url" class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">

                    <a class="link-mapa" href="{{plan.url}}" target="_blank">
                      <i class="fa fa-map-marker red-text" style="font-size:18px;"></i> Mapa</a>

                  </div>
                </div>
                <div *ngIf="perfil && perfil.admin" class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">
                    <button class="btn btn-secondary mb-2" (click)="edithPlan(plan)" for="borrar"
                      data-toggle="collapse" data-target="#formAddBiker" aria-expanded="false"
                      aria-controls="formAddBiker"> Editar
                      <i class="fa fa-pencil red-text" style="font-size:18px;"></i>
                    </button>
                  </div>
                </div>
                <div *ngIf="perfil && perfil.admin" class="col-6 col-sm-4 col-md-3">
                  <div class="form-group">
                    <button class="btn red-button mb-2" 
                    (click)="delAuxPlan(indice, plan.key, plan.lugar)" 
                    data-toggle="modal" data-target="#confimrModal">
                      Eliminar
                      <i class="fa fa-trash red-text" style="font-size:18px;"></i>
                    </button>     
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-- <hr> -->
        <p *ngIf="perfil && perfil.admin" class="crear-evento">Crear Evento
          <button class="btn btn-plus red-button" type="button" data-toggle="collapse" data-target="#formAddBiker"
            aria-expanded="false" aria-controls="formAddBiker" (click)="newEvent()">
            <i class="fa fa fa-plus" style="font-size:18;"></i>
          </button>
        </p>
        <hr>
        <div class="collapse multi-collapse" id="formAddBiker">

          <h6 class="text">Ingresar</h6>
          <form class="form-inline" #f="ngForm" (ngSubmit)="f.form.valid && addEvent(f)">
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label class="label-text control-label" for="nombre">Tipo:</label>

                  <select class="custom-select fill-width" id="tipo" name="tipo" [(ngModel)]="type">
                    <option selected>{{type}}</option>
                    <option *ngFor="let tipo of tipos; let indice = index" [value]="tipo">{{tipo}}</option>

                  </select>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label class="label-text control-label" for="nombre">Fecha:</label>
                </div>
                <input type="date" class="form-control mb-2 fill-width" id="fecha" name="fecha" [min]="minDate"
                  [max]="maxDate" [(ngModel)]="fecha">
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label class="label-text control-label" for="nombre">Ciudad:</label>
                </div>
                <input type="text" class="form-control mb-2 fill-width" id="ciudad" name="ciudad" placeholder="Ciudad"
                  [(ngModel)]="ciudad">
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label class="label-text control-label" for="nombre">Lugar:</label>
                </div>
                <input type="phone" class="form-control mb-2 fill-width" id="lugar" name="lugar" placeholder="Lugar"
                  [(ngModel)]="lugar">
              </div>


            </div>
            <div class="row">


              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label class="label-text control-label" for="correo">Presupuesto:</label>
                  <!-- <label *ngIf="errMsj" for="errMsj" class="label-login">{{ errMsj }}</label> -->
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa fa-dollar" style="font-size:18;"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="presupuesto" name="presupuesto" placeholder="$ 0.00"
                    [(ngModel)]="presupuesto">
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label class="label-text control-label" for="nombre">Distancia:</label>
                </div>
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" id="distancia" name="distancia" placeholder="Distancia"
                      [(ngModel)]="distancia">
                    <div class="input-group-append">
                      <div class="input-group-text">km</div>
                    </div>
                  </div>
                
              </div>
            
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <label class="label-text control-label" for="correo">Maps:</label>
                  
                </div>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa fa-map-marker" style="font-size:18;"></i>
                    </div>
                  </div>
                  <input type="text" class="form-control" id="url" name="url" placeholder="URL Mapa" [(ngModel)]="url">
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group d-flex justify-content-center align-btn">
                  <button type="submit" class="btn red-button" data-toggle="modal"
                    data-target="#loaderModal">Guardar</button>
                </div>

              </div>

            </div>

          </form>


        </div>
      </div>

    </div>
  
      <div class="row">
          <div class="accordion cumpleños-collapse" id="accordionExample">
              <div class="card">
                <div class="card-header " id="headingOne" data-toggle="collapse" data-target="#cumpleaños"
                  aria-expanded="false" aria-controls="collapseOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link-perfil red-hover" type="button">
                      <i class="fa fa-birthday-cake" style="font-size:28px;"></i>
                      <span class="red-hover"> Cumpleaños</span>
      
                    </button>
                  </h2>
                </div>
              </div>
            
            </div>
     
      <div id="cumpleaños" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="d-flex flex-row" *ngFor="let miembro of miembros">

              <div class="">
                <div class="form-group">
                  <label class="label-text control-label hard-code" for="nombre">Caballero Lycaon:</label><br>
                  <span class="dynamic"> {{miembro.nickName}} </span>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label class="label-text control-label hard-code" for="ciudad">Fecha:</label><br>
                  <span class="dynamic">{{miembro.dayBirthday}} - {{miembro.monthBirthday}}</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    <div class="modal fade" id="confimrModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-modal">
            <div class="modal-header color-dark">
              <h5 class="modal-title danger-color" id="contactModalLabel">Mensaje enviado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Estas seguro de eliminar el plan {{lugarAux}}?<br>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button type="button" class="btn red-button" data-dismiss="modal" (click)="delPlan()">Si</button>
            </div>
          </div>
        </div>
      </div>