.intinerario{
    margin-top: 1%;
}
.white-text{
    color: aliceblue;
}
.red-button{
    color: aliceblue;
    background-color: #ff4444;
}
.btn-plus{
    border-radius: 50%;
}
.fill-width{
    width: 100%;
}
.row{
    width: 100%;
}
.align-btn{
    margin-top: 10%;
}
.card{
    background-color: transparent;
    border-style: solid;
}
.card-header{
    background-color: #616161;
    width: 78vw;
}
.btn-link-perfil{
    color: aliceblue;
}
.red-hover:hover{
    color:  #ff4444;
}
.color-dark{
background-color: #45526e;
}
.text-modal{
color: black;
background-color: #e0e0e0;
}
.text-modal .danger-color{
color: #ff4444 !important;
}
.crear-evento{
    margin-top: 1%;
    font-size: larger;
}
.link-mapa{
    color: #bbdefb;
}
.hard-code{
    font-size: smaller;
    color: #d0d6e2;
    margin-bottom: 0px !important;
}
.dynamic{
    font-size: larger;
}
hr {
    border-top: 1px solid aliceblue;
  }