<div class="row">
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">Marca:</label><br>
    <span class="capital">
    <label class="label-text control-label" for="nombre">{{moto.marca}}</label>
    </span>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">SubMarca:</label><br>
    <span class="capital">
    <label class="label-text control-label" for="nombre">{{moto.submarca}}</label>
    </span>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">Modelo:</label><br>
    <label class="label-text control-label" for="nombre">{{moto.modelo}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">Placa:</label><br>
    <span class="mayus">
    <label class="label-text control-label" for="nombre">{{moto.placa}}</label>
    </span>
</div>

<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">Cc:</label><br>
    <label class="label-text control-label" for="nombre">{{moto.cc}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">No.Serie:</label><br>
    <span class="mayus">
    <label class="label-text control-label" for="nombre">{{moto.serie}}</label>
    </span>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">Aseguradora:</label><br>
    <span class="capital">
    <label class="label-text control-label" for="nombre">{{moto.ciaSeguro}}</label>
    </span>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">Telefono:</label><br>
    <label class="label-text control-label" for="nombre">{{moto.telSeguro}}</label>
</div>

<div class="col-sm-12 col-md-3">
    <label class="label-text control-label hard-code" for="nombre">Poliza:</label><br>
    <span class="mayus">
    <label class="label-text control-label" for="nombre">{{moto.poliza}}</label>
    </span>
</div>
</div>