.hard-code{
    font-size: smaller;
    color: #d0d6e2;
    margin-bottom: 0px !important;
    font-family: 'Turret Road', cursive;
}
.dynamic{
    font-size: larger;
}
.moto{
    margin-left: 1.5%;
}
.mayus{
    text-transform: uppercase;
}
.capital{
    text-transform: capitalize;
}