<div class="row">
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">Marca:</label>
    <label class="label-text control-label" for="nombre">{{moto.marca}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">SubMarca:</label>
    <label class="label-text control-label" for="nombre">{{moto.submarca}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">Modelo:</label>
    <label class="label-text control-label" for="nombre">{{moto.modelo}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">Placa:</label>
    <label class="label-text control-label" for="nombre">{{moto.placa}}</label>
</div>

<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">Cc:</label>
    <label class="label-text control-label" for="nombre">{{moto.cc}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">No.Serie:</label>
    <label class="label-text control-label" for="nombre">{{moto.serie}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">Aseguradora:</label>
    <label class="label-text control-label" for="nombre">{{moto.ciaSeguro}}</label>
</div>
<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">Telefono:</label>
    <label class="label-text control-label" for="nombre">{{moto.telSeguro}}</label>
</div>

<div class="col-sm-12 col-md-3">
    <label class="label-text control-label" for="nombre">Poliza:</label>
    <label class="label-text control-label" for="nombre">{{moto.poliza}}</label>
</div>
</div>