<div class="container letraStyle">
    <img src="../../../assets/ojosLobo.png" class="ojos">
    <p><b class="titulos">Caballeros Lycaon</b> es un Motoclub (Mc) el cual se forma atra ves de un grupo de 
        amigos que comparten la pasión por el motociclismo. Caracterizado por un ambiente familiar y relajado.
    </p>
    <p><b class="titulos">Significado del parche:</b>
        El escudo se forma principalmente por un lobo devorando una calavera. 
        Se escoge un lobo ya que representa a la mayoria de los integrantes, no solo por la vida nocturna
        tambien por la solidaridad en el grupo, la lealtan entre los miembros, el trabajo en equipo, entre todos nos cuidamos
        honramos y aprendemos de los mayores, enseñando a las futuras generaciones la pasion y el respeto al motociclismo.

        Por lo que respecta a al calavera, representa la igualdad y la muerte pues cuando nos subimos a una motocicleta
        todos somos iguales, nadie es mas o mejor que nadie, sabemos y conocemos los riesgos de andar en moto, y es por eso que rodamos con una calavera,
        pues preferimos que siempres nos acompañe a que la encontremos en el camino. (No adoramos a la muerte)
    </p> 
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <img src="../../../assets/cablleros.jpg" class="img-resonsive auyando" >
            <p>
                <b class="titulos">Nombre:</b>
                    Nuestro nombre deriva de la leyenda del Rey Lycaon el primer rey de Arcadia, quien 
                    junto con los sacrificios humanos estableció la antropofagia, o sea comer carne humana.
            
                    Sin embargo solo sacrificaba a loss forasteros, viajeros y turistas. Cuando esto llego a oidos de Zeus
                    quiso ir a comprobarlo, se hizo pasar por un visitante, los arcadios se dieron cuenta que 
                    era un dios porque reflejaba luz, pero el Rey Licaón, quiso saber si era o no un dios y le sirvió carne humana.
                    Ya que pensaba que quizas seria un impostor, en cambio si éste era un Dios rechazaria la comida, 
                    pues el canibalismo era una abominación en la cultura Griega.
            </p>
        </div>
        <div class="col-xs-12 col-md-6">
                <p>
                   
                        En cuanto le sirvieron el festin a Zeus éste lo rechazo, enfureciendo de inmediato, 
                        con sus rayos destruyó todo, también el palacio, y como su nombre quiere decir lobo lo convirtió en un feroz lobo. 
                        Zeus maldijo al Rey Lycaon, le dio la gracia que cada diez años, sino había comido carne 
                        humana, volvía a ser humano. Sin embargo cada vez que el Rey Lycaon tomaba la forma de 
                        hombre volvía a hacer sacrificios y comer carne humana y volvía a convertirse en lobo. 
                        Lycaon no se resignó, cada poco tiempo en noches de luna llena salía al claro del bosque 
                        o a los caminos a aullar pidiendo el perdón de Zeus, y para comer al que pasara por el lugar.
                
                        Es asi como surge el Termino Lycantropo, pues el Rey Lycaon es el primer hombre lobo 
                        del que se tiene registro en ela historia.
                <br>
                        Es de esta historia donde provienen nuestro emblema y nuestros colores (parche) <br>
                        <b class="titulos">El negro,</b> representa la maldción que cayo sobre el Rey Lycaon. <br>
                        <b class="titulos">El blanco,</b> representa al Dios Zeus y su resplandor cuando tormo forma humana.<br>
                        <b class="titulos">El rojo,</b> la sangre de las víctimas derramada en los sacrificios.<br>
                        <b class="titulos">La corona,</b> represnta al Rey Lycaon.<br>
                        <b class="titulos">Las estrellas,</b> cuando se fundo el Club se empezo con 8 integrantes y es por eso que son 8 estrellas.
                    </p>
        </div>
    </div>
    
   
    <app-formulario></app-formulario>
</div>